KV_AUTH=
KV_ACCOUNT_ID=
KV_NAMESPACE_ID=
KV_KEY_NAME=

DOMAIN=domain.com
HOSTNAME=hostname

FILEBEAT_VERSION=8.11.3
ELASTICSEARCH_HOSTS=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

HYSTERIA_API_SECRET=
ANYTLS_PORT=8443
SNELL_PORT=38458
SNELL_PSK=
