{
  auto_https disable_redirects
}

{$DOMAIN} {
  reverse_proxy /phpmyadmin v2fly:90
  reverse_proxy /manage v2fly:91

  route /whoami {
    respond "Hello, World! from {http.request.host}"
  }

  reverse_proxy * http://v2ex.com
}