{$V2RAY_DOMAINS}:80 {
	gzip

	proxy /phpmyadmin v2ray-server:90 {
		websocket
		header_upstream -Origin
	}

	proxy /manage v2ray-server:91 {
		websocket
		header_upstream -Origin
	}

	proxy / https://www.v2ex.com

	log stdout
	errors stdout
}

{$V2RAY_DOMAINS}:443 {
	gzip
	tls admin@domain.com

	proxy / https://www.v2ex.com

	log stdout
	errors stdout
}
